<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>fudo.eustrosoft.org:5432/tisexmpldb</param-value>
    </context-param>
    <context-param>
        <param-name>QDBPOOL_URL</param-name>
        <param-value>jdbc:postgresql://fudo.eustrosoft.org:5432/conceptisdb</param-value>
    </context-param>
    <context-param>
        <param-name>QDBPOOL_NAME</param-name>
        <param-value>QTIS</param-value>
    </context-param>
    <context-param>
        <param-name>QDBPOOL_JDBC_CLASS</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>