@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$utilities: (
  'viewport-height': (
    property: height,
    class: vh,
    values: (
      25: 25vh,
      50: 50vh,
      75: 75vh,
      100: 100vh,
    ),
  ),
);

@import 'bootstrap/scss/utilities/api';
